:root[data-theme="dark"] {
    --clr-main: #8bbe1b;
    --clr-main-hover: #b1e441;

    --clr-bg: #0d0f0b;
    --clr-fg: #f8fdef;

    --clr-s0: #1f2612;
    --clr-s1: #293117;
    --clr-s2: #323e17;

    --clr-error: #be4e1b;
    --clr-warning: #bea01b;
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input,
textarea {
    font: inherit;
}
