:root[data-theme="dark"] {
    --clr-main: #b05fd8;
    --clr-main-hover: #c284e1;

    --clr-bg: #0c0411;
    --clr-fg: #f6edfb;

    --clr-s0: #2d0c3c;
    --clr-s1: #3c1050;
    --clr-s2: #4b1464;

    --clr-error: #dc6f94;
    --clr-warning: #dcb86f;
    --clr-muted: #6f597b;
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input,
textarea {
    font: inherit;
}
